In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기

In [2]:
##### 파일 불러오기 #####
df = pd.read_csv("C:/Users/user/Desktop/2021 빅콘테스트_데이터분석분야_퓨처스리그_ECO제주\data_processing/2_3_short_term_frgn_3_resident_pop_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'visit_pop_cnt', 'total_pop']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  visit_pop_cnt  total_pop
base_date
2018-01-31 2018-01-31  50110250     58090.5960      24419
2018-02-28 2018-02-28  50110250     69710.8394      24427
2018-03-31 2018-03-31  50110250     98026.6381      24532
2018-04-30 2018-04-30  50110250    103289.7891      24606
2018-05-31 2018-05-31  50110250    115255.9750      24715
...               ...       ...            ...        ...
2021-02-28 2021-02-28  50130620       280.6159       4173
2021-03-31 2021-03-31  50130620      1475.8404       4178
2021-04-30 2021-04-30  50130620      1283.0997       4161
2021-05-31 2021-05-31  50130620      1212.2652       4178
2021-06-30 2021-06-30  50130620      1194.0627       4152

[1806 rows x 4 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'total_pop'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  visit_pop_cnt
base_date
2018-01-31  50110250     58090.5960
2018-02-28  50110250     69710.8394
2018-03-31  50110250     98026.6381
2018-04-30  50110250    103289.7891
2018-05-31  50110250    115255.9750
...              ...            ...
2021-02-28  50130620       280.6159
2021-03-31  50130620      1475.8404
2021-04-30  50130620      1283.0997
2021-05-31  50130620      1212.2652
2021-06-30  50130620      1194.0627

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50130620  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            visit_pop_cnt
base_date
2018-01-31    112686.9280
2018-02-28    186458.2483
2018-03-31    173117.4986
2018-04-30    211606.9276
2018-05-31    199257.6712
2018-06-30    235714.6029
2018-07-31    368921.3188
2018-08-31    499581.9302
2018-09-30    267309.9386
2018-10-31    456168.3177
2018-11-30    272172.0308
2018-12-31    144677.9471
2019-01-31    148938.3414
2019-02-28    235985.9714
2019-03-31    188038.4182
2019-04-30    280060.6938
2019-05-31    341486.6911
2019-06-30    342307.3649
2019-07-31    358818.1575
2019-08-31    422029.3190
2019-09-30    245119.8989
2019-10-31    287764.1106
2019-11-30    167242.1966
2019-12-31    148444.6275
2020-01-31    145413.9012
2020-02-29     35945.3367
2020-03-31      4367.3325
2020-04-30      3809.6003
2020-05-31       470.8706
2020-06-30       959.7448
2020-07-31      1312.9160
2020-08-31      1591.5190
2020-09-30      1053.2234
2020-10-31      1641.3893
2020-11-30      1294.4400
2020-12-31      1719.3915
2021-01-31       375.1025
2021-02-28       280.6159
2021-03-31      1475.8404
2021-04-30      1283.0997
2021-05-31      1212.2652
2021-06-30      1194.0627

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'visit_pop_cnt': base_date
 2018-01-31    112686.9280
 2018-02-28    186458.2483
 2018-03-31    173117.4986
 2018-04-30    211606.9276
 2018-05-31    199257.6712
 2018-06-30    235714.6029
 2018-07-31    368921.3188
 2018-08-31    499581.9302
 2018-09-30    267309.9386
 2018-10-31    456168.3177
 2018-11-30    272172.0308
 2018-12-31    144677.9471
 2019-01-31    148938.3414
 2019-02-28    235985.9714
 2019-03-31    188038.4182
 2019-04-30    280060.6938
 2019-05-31    341486.6911
 2019-06-30    342307.3649
 2019-07-31    358818.1575
 2019-08-31    422029.3190
 2019-09-30    245119.8989
 2019-10-31    287764.1106
 2019-11-30    167242.1966
 2019-12-31    148444.6275
 2020-01-31    145413.9012
 2020-02-29     35945.3367
 2020-03-31      4367.3325
 2020-04-30      3809.6003
 2020-05-31       470.8706
 2020-06-30       959.7448
 2020-07-31      1312.9160
 2020-08-31      1591.5190
 2020-09-30      1053.2234
 2020-10-31      1641.3893
 2020-11-30      1294.4400
 2020-12-31      1719.3915
 2021-01-31       375.1025
 2021-02-28       280.6159
 2021-03-31      1475.8404
 2021-04-30      1283.0997
 2021-05-31      1212.2652
 2021-06-30      1194.0627
 Name: visit_pop_cnt, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -0.789426
p-value : 0.822208
Critical Values :
	1%: -3.626652
	5%: -2.945951
	10%: -2.611671

In [8]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 또 p-value 확인 -> 0.05보다 크면 이 파일 안되고 log파일로 넘어가세요 / 작으면 아래로 쭉 진행 #####

ADF Statistic : -3.537544
p-value : 0.007074
Critical Values :
	1%: -3.626652
	5%: -2.945951
	10%: -2.611671

In [9]:
#!pip install pmdarima

In [10]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,1,0)(0,0,0)[1] intercept   : AIC=1047.320, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[1] intercept   : AIC=1046.938, Time=0.04 sec
 ARIMA(0,1,2)(0,0,0)[1] intercept   : AIC=1050.195, Time=0.29 sec
 ARIMA(0,1,3)(0,0,0)[1] intercept   : AIC=1058.174, Time=0.16 sec
 ARIMA(0,1,4)(0,0,0)[1] intercept   : AIC=1065.670, Time=0.25 sec
 ARIMA(0,1,5)(0,0,0)[1] intercept   : AIC=1148.114, Time=0.17 sec
 ARIMA(1,1,0)(0,0,0)[1] intercept   : AIC=1046.075, Time=0.04 sec
 ARIMA(1,1,1)(0,0,0)[1] intercept   : AIC=1048.114, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[1] intercept   : AIC=1052.257, Time=0.07 sec
 ARIMA(1,1,3)(0,0,0)[1] intercept   : AIC=1059.446, Time=0.22 sec
 ARIMA(1,1,4)(0,0,0)[1] intercept   : AIC=1067.461, Time=0.37 sec
 ARIMA(2,1,0)(0,0,0)[1] intercept   : AIC=1047.999, Time=0.06 sec
 ARIMA(2,1,1)(0,0,0)[1] intercept   : AIC=1049.893, Time=0.14 sec
 ARIMA(2,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=1.18 sec
 ARIMA(2,1,3)(0,0,0)[1] intercept   : AIC=inf, Time=0.95 sec
 ARIMA(3,1,0)(0,0,0)[1] intercept   : AIC=1048.135, Time=0.05 sec
 ARIMA(3,1,1)(0,0,0)[1] intercept   : AIC=1050.169, Time=0.10 sec
 ARIMA(3,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.37 sec
 ARIMA(4,1,0)(0,0,0)[1] intercept   : AIC=1050.153, Time=0.06 sec
 ARIMA(4,1,1)(0,0,0)[1] intercept   : AIC=1051.738, Time=0.14 sec
 ARIMA(5,1,0)(0,0,0)[1] intercept   : AIC=1046.118, Time=0.07 sec

Best model:  ARIMA(1,1,0)(0,0,0)[1] intercept
Total fit time: 4.884 seconds

ARIMA(order=(1, 1, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [11]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.visit_pop_cnt.values, order=(1,1,0))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                   41
Model:                 ARIMA(1, 1, 0)   Log Likelihood                -519.478
Method:                       css-mle   S.D. of innovations          76876.657
Date:                Sat, 11 Sep 2021   AIC                           1044.956
Time:                        02:24:38   BIC                           1050.096
Sample:                             1   HQIC                          1046.828

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3434.3994   9168.766     -0.375      0.708   -2.14e+04    1.45e+04
ar.L1.D.y     -0.3173      0.147     -2.154      0.031      -0.606      -0.029
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -3.1511           +0.0000j            3.1511            0.5000
-----------------------------------------------------------------------------

# 예측하기

In [12]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([-3324.44843296, -6414.81073359]), array([76876.65670937, 93081.67491331]), array([[-153999.92683519,  147351.02996926],
       [-188851.54118435,  176021.91971716]]))