In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기

In [2]:
##### 파일 불러오기 #####
df = pd.read_csv("C:/Users/user/Desktop/2021 빅콘테스트_데이터분석분야_퓨처스리그_ECO제주\data_processing/2_3_short_term_frgn_3_resident_pop_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'visit_pop_cnt', 'total_pop']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  visit_pop_cnt  total_pop
base_date
2018-01-31 2018-01-31  50110250     58090.5960      24419
2018-02-28 2018-02-28  50110250     69710.8394      24427
2018-03-31 2018-03-31  50110250     98026.6381      24532
2018-04-30 2018-04-30  50110250    103289.7891      24606
2018-05-31 2018-05-31  50110250    115255.9750      24715
...               ...       ...            ...        ...
2021-02-28 2021-02-28  50130620       280.6159       4173
2021-03-31 2021-03-31  50130620      1475.8404       4178
2021-04-30 2021-04-30  50130620      1283.0997       4161
2021-05-31 2021-05-31  50130620      1212.2652       4178
2021-06-30 2021-06-30  50130620      1194.0627       4152

[1806 rows x 4 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'total_pop'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  visit_pop_cnt
base_date
2018-01-31  50110250     58090.5960
2018-02-28  50110250     69710.8394
2018-03-31  50110250     98026.6381
2018-04-30  50110250    103289.7891
2018-05-31  50110250    115255.9750
...              ...            ...
2021-02-28  50130620       280.6159
2021-03-31  50130620      1475.8404
2021-04-30  50130620      1283.0997
2021-05-31  50130620      1212.2652
2021-06-30  50130620      1194.0627

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50130560  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            visit_pop_cnt
base_date
2018-01-31     19949.8430
2018-02-28     17927.4326
2018-03-31     12093.5844
2018-04-30     23082.6559
2018-05-31     15325.0398
2018-06-30     24265.4334
2018-07-31     19129.3007
2018-08-31     18605.3293
2018-09-30     21946.3397
2018-10-31     51635.6744
2018-11-30     31715.5687
2018-12-31     66673.9985
2019-01-31     79887.9937
2019-02-28     60691.7572
2019-03-31     54307.4383
2019-04-30     85391.3380
2019-05-31     90659.5852
2019-06-30    110843.4557
2019-07-31     68716.2659
2019-08-31     63294.8827
2019-09-30     63206.9337
2019-10-31     86132.8590
2019-11-30     57787.9743
2019-12-31     43467.0938
2020-01-31     40575.3463
2020-02-29     18902.8093
2020-03-31     14045.6726
2020-04-30     16149.5350
2020-05-31      1994.1595
2020-06-30      3602.0309
2020-07-31      3529.7960
2020-08-31      4742.3151
2020-09-30      6715.2560
2020-10-31      8450.7707
2020-11-30      6221.2377
2020-12-31      7500.1243
2021-01-31      3270.5467
2021-02-28      2212.4941
2021-03-31      3687.3813
2021-04-30      5207.9310
2021-05-31      7102.9021
2021-06-30      3376.0897

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'visit_pop_cnt': base_date
 2018-01-31     19949.8430
 2018-02-28     17927.4326
 2018-03-31     12093.5844
 2018-04-30     23082.6559
 2018-05-31     15325.0398
 2018-06-30     24265.4334
 2018-07-31     19129.3007
 2018-08-31     18605.3293
 2018-09-30     21946.3397
 2018-10-31     51635.6744
 2018-11-30     31715.5687
 2018-12-31     66673.9985
 2019-01-31     79887.9937
 2019-02-28     60691.7572
 2019-03-31     54307.4383
 2019-04-30     85391.3380
 2019-05-31     90659.5852
 2019-06-30    110843.4557
 2019-07-31     68716.2659
 2019-08-31     63294.8827
 2019-09-30     63206.9337
 2019-10-31     86132.8590
 2019-11-30     57787.9743
 2019-12-31     43467.0938
 2020-01-31     40575.3463
 2020-02-29     18902.8093
 2020-03-31     14045.6726
 2020-04-30     16149.5350
 2020-05-31      1994.1595
 2020-06-30      3602.0309
 2020-07-31      3529.7960
 2020-08-31      4742.3151
 2020-09-30      6715.2560
 2020-10-31      8450.7707
 2020-11-30      6221.2377
 2020-12-31      7500.1243
 2021-01-31      3270.5467
 2021-02-28      2212.4941
 2021-03-31      3687.3813
 2021-04-30      5207.9310
 2021-05-31      7102.9021
 2021-06-30      3376.0897
 Name: visit_pop_cnt, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -1.458100
p-value : 0.554128
Critical Values :
	1%: -3.600983
	5%: -2.935135
	10%: -2.605963

In [8]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 또 p-value 확인 -> 0.05보다 크면 이 파일 안되고 log파일로 넘어가세요 / 작으면 아래로 쭉 진행 #####

ADF Statistic : -3.129164
p-value : 0.024469
Critical Values :
	1%: -3.669920
	5%: -2.964071
	10%: -2.621171

In [9]:
#!pip install pmdarima

In [10]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,0,0)(0,0,0)[1] intercept   : AIC=988.864, Time=0.03 sec
 ARIMA(0,0,1)(0,0,0)[1] intercept   : AIC=970.871, Time=0.06 sec
 ARIMA(0,0,2)(0,0,0)[1] intercept   : AIC=965.520, Time=0.24 sec
 ARIMA(0,0,3)(0,0,0)[1] intercept   : AIC=970.132, Time=0.08 sec
 ARIMA(0,0,4)(0,0,0)[1] intercept   : AIC=974.136, Time=0.12 sec
 ARIMA(0,0,5)(0,0,0)[1] intercept   : AIC=961.813, Time=0.12 sec
 ARIMA(1,0,0)(0,0,0)[1] intercept   : AIC=929.831, Time=0.04 sec
 ARIMA(1,0,1)(0,0,0)[1] intercept   : AIC=931.033, Time=0.11 sec
 ARIMA(1,0,2)(0,0,0)[1] intercept   : AIC=933.522, Time=0.14 sec
 ARIMA(1,0,3)(0,0,0)[1] intercept   : AIC=934.870, Time=0.20 sec
 ARIMA(1,0,4)(0,0,0)[1] intercept   : AIC=928.541, Time=0.33 sec
 ARIMA(2,0,0)(0,0,0)[1] intercept   : AIC=930.954, Time=0.05 sec
 ARIMA(2,0,1)(0,0,0)[1] intercept   : AIC=933.014, Time=0.10 sec
 ARIMA(2,0,2)(0,0,0)[1] intercept   : AIC=933.650, Time=0.25 sec
 ARIMA(2,0,3)(0,0,0)[1] intercept   : AIC=929.980, Time=0.20 sec
 ARIMA(3,0,0)(0,0,0)[1] intercept   : AIC=932.946, Time=0.08 sec
 ARIMA(3,0,1)(0,0,0)[1] intercept   : AIC=934.994, Time=0.14 sec
 ARIMA(3,0,2)(0,0,0)[1] intercept   : AIC=932.614, Time=0.79 sec
 ARIMA(4,0,0)(0,0,0)[1] intercept   : AIC=934.879, Time=0.15 sec
 ARIMA(4,0,1)(0,0,0)[1] intercept   : AIC=934.363, Time=0.39 sec
 ARIMA(5,0,0)(0,0,0)[1] intercept   : AIC=934.385, Time=0.11 sec

Best model:  ARIMA(1,0,4)(0,0,0)[1] intercept
Total fit time: 3.755 seconds

ARIMA(order=(1, 0, 4), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [11]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.visit_pop_cnt.values, order=(1,0,4))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   42
Model:                     ARMA(1, 4)   Log Likelihood                -456.515
Method:                       css-mle   S.D. of innovations          11742.416
Date:                Sat, 11 Sep 2021   AIC                            927.029
Time:                        02:20:14   BIC                            939.193
Sample:                             0   HQIC                           931.488

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         3.2e+04   1.54e+04      2.082      0.037    1878.715    6.21e+04
ar.L1.y        0.8649      0.074     11.616      0.000       0.719       1.011
ma.L1.y       -0.4001      0.196     -2.039      0.041      -0.785      -0.015
ma.L2.y       -0.1000      0.159     -0.630      0.529      -0.411       0.211
ma.L3.y        0.3067      0.173      1.771      0.077      -0.033       0.646
ma.L4.y        0.5258      0.150      3.497      0.000       0.231       0.820
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.1562           +0.0000j            1.1562            0.0000
MA.1            0.7454           -0.6666j            1.0000           -0.1161
MA.2            0.7454           +0.6666j            1.0000            0.1161
MA.3           -1.0371           -0.9090j            1.3791           -0.3855
MA.4           -1.0371           +0.9090j            1.3791            0.3855
-----------------------------------------------------------------------------

# 예측하기

In [12]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([ 8188.63995305, 11406.17640698]), array([11742.41609376, 12948.51227724]), array([[-14826.0726822 ,  31203.3525883 ],
       [-13972.44130978,  36784.79412375]]))