In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기

In [2]:
##### 파일 불러오기 #####
df = pd.read_csv("C:/Users/user/Desktop/2021 빅콘테스트_데이터분석분야_퓨처스리그_ECO제주\data_processing/2_3_short_term_frgn_3_resident_pop_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'visit_pop_cnt', 'total_pop']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  visit_pop_cnt  total_pop
base_date
2018-01-31 2018-01-31  50110250     58090.5960      24419
2018-02-28 2018-02-28  50110250     69710.8394      24427
2018-03-31 2018-03-31  50110250     98026.6381      24532
2018-04-30 2018-04-30  50110250    103289.7891      24606
2018-05-31 2018-05-31  50110250    115255.9750      24715
...               ...       ...            ...        ...
2021-02-28 2021-02-28  50130620       280.6159       4173
2021-03-31 2021-03-31  50130620      1475.8404       4178
2021-04-30 2021-04-30  50130620      1283.0997       4161
2021-05-31 2021-05-31  50130620      1212.2652       4178
2021-06-30 2021-06-30  50130620      1194.0627       4152

[1806 rows x 4 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'total_pop'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  visit_pop_cnt
base_date
2018-01-31  50110250     58090.5960
2018-02-28  50110250     69710.8394
2018-03-31  50110250     98026.6381
2018-04-30  50110250    103289.7891
2018-05-31  50110250    115255.9750
...              ...            ...
2021-02-28  50130620       280.6159
2021-03-31  50130620      1475.8404
2021-04-30  50130620      1283.0997
2021-05-31  50130620      1212.2652
2021-06-30  50130620      1194.0627

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110310  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            visit_pop_cnt
base_date
2018-01-31     14496.3376
2018-02-28      9869.6493
2018-03-31     28177.2511
2018-04-30     27559.2719
2018-05-31     23580.1803
2018-06-30     19584.1189
2018-07-31     34130.7239
2018-08-31     31953.8426
2018-09-30     50243.9696
2018-10-31     47528.3933
2018-11-30     30053.1467
2018-12-31     27018.8786
2019-01-31     26027.2741
2019-02-28     24589.4645
2019-03-31     37596.7311
2019-04-30     42177.9038
2019-05-31     51444.6974
2019-06-30     44780.0460
2019-07-31     39605.2410
2019-08-31     42242.4559
2019-09-30     35416.9974
2019-10-31     44091.7681
2019-11-30     28626.8711
2019-12-31     30752.6970
2020-01-31     29922.4020
2020-02-29     11261.6149
2020-03-31      8421.3705
2020-04-30      4457.9905
2020-05-31       496.5260
2020-06-30       790.4038
2020-07-31       786.6219
2020-08-31       827.9993
2020-09-30      1087.9284
2020-10-31      1294.7580
2020-11-30       777.3998
2020-12-31      2420.3958
2021-01-31       410.4585
2021-02-28       625.2487
2021-03-31       905.0365
2021-04-30      1179.8104
2021-05-31      1158.8752
2021-06-30       743.6470

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'visit_pop_cnt': base_date
 2018-01-31    14496.3376
 2018-02-28     9869.6493
 2018-03-31    28177.2511
 2018-04-30    27559.2719
 2018-05-31    23580.1803
 2018-06-30    19584.1189
 2018-07-31    34130.7239
 2018-08-31    31953.8426
 2018-09-30    50243.9696
 2018-10-31    47528.3933
 2018-11-30    30053.1467
 2018-12-31    27018.8786
 2019-01-31    26027.2741
 2019-02-28    24589.4645
 2019-03-31    37596.7311
 2019-04-30    42177.9038
 2019-05-31    51444.6974
 2019-06-30    44780.0460
 2019-07-31    39605.2410
 2019-08-31    42242.4559
 2019-09-30    35416.9974
 2019-10-31    44091.7681
 2019-11-30    28626.8711
 2019-12-31    30752.6970
 2020-01-31    29922.4020
 2020-02-29    11261.6149
 2020-03-31     8421.3705
 2020-04-30     4457.9905
 2020-05-31      496.5260
 2020-06-30      790.4038
 2020-07-31      786.6219
 2020-08-31      827.9993
 2020-09-30     1087.9284
 2020-10-31     1294.7580
 2020-11-30      777.3998
 2020-12-31     2420.3958
 2021-01-31      410.4585
 2021-02-28      625.2487
 2021-03-31      905.0365
 2021-04-30     1179.8104
 2021-05-31     1158.8752
 2021-06-30      743.6470
 Name: visit_pop_cnt, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -1.199167
p-value : 0.673954
Critical Values :
	1%: -3.600983
	5%: -2.935135
	10%: -2.605963

In [8]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 또 p-value 확인 -> 0.05보다 크면 이 파일 안되고 log파일로 넘어가세요 / 작으면 아래로 쭉 진행 #####

ADF Statistic : -6.934330
p-value : 0.000000
Critical Values :
	1%: -3.605565
	5%: -2.937069
	10%: -2.606986

In [9]:
#!pip install pmdarima

In [10]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,1,0)(0,0,0)[1] intercept   : AIC=853.228, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[1] intercept   : AIC=854.948, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[1] intercept   : AIC=856.184, Time=0.31 sec
 ARIMA(0,1,3)(0,0,0)[1] intercept   : AIC=861.174, Time=0.24 sec
 ARIMA(0,1,4)(0,0,0)[1] intercept   : AIC=856.168, Time=0.20 sec
 ARIMA(0,1,5)(0,0,0)[1] intercept   : AIC=inf, Time=0.51 sec
 ARIMA(1,1,0)(0,0,0)[1] intercept   : AIC=854.500, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[1] intercept   : AIC=856.265, Time=0.05 sec
 ARIMA(1,1,2)(0,0,0)[1] intercept   : AIC=858.089, Time=0.09 sec
 ARIMA(1,1,3)(0,0,0)[1] intercept   : AIC=inf, Time=0.52 sec
 ARIMA(1,1,4)(0,0,0)[1] intercept   : AIC=869.839, Time=0.10 sec
 ARIMA(2,1,0)(0,0,0)[1] intercept   : AIC=855.997, Time=0.03 sec
 ARIMA(2,1,1)(0,0,0)[1] intercept   : AIC=857.887, Time=0.07 sec
 ARIMA(2,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.52 sec
 ARIMA(2,1,3)(0,0,0)[1] intercept   : AIC=inf, Time=0.77 sec
 ARIMA(3,1,0)(0,0,0)[1] intercept   : AIC=857.941, Time=0.06 sec
 ARIMA(3,1,1)(0,0,0)[1] intercept   : AIC=859.487, Time=0.25 sec
 ARIMA(3,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=nan sec
 ARIMA(4,1,0)(0,0,0)[1] intercept   : AIC=857.235, Time=0.12 sec
 ARIMA(4,1,1)(0,0,0)[1] intercept   : AIC=859.202, Time=0.15 sec
 ARIMA(5,1,0)(0,0,0)[1] intercept   : AIC=859.108, Time=0.10 sec

Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept
Total fit time: 4.536 seconds

ARIMA(order=(0, 1, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [11]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.visit_pop_cnt.values, order=(0,1,0))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                   41
Model:                 ARIMA(0, 1, 0)   Log Likelihood                -424.614
Method:                           css   S.D. of innovations           7612.113
Date:                Sat, 11 Sep 2021   AIC                            853.228
Time:                        01:47:56   BIC                            856.655
Sample:                             1   HQIC                           854.476

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       -335.4315   1188.812     -0.282      0.778   -2665.461    1994.598
==============================================================================

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

# 예측하기

In [12]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([408.21552195,  72.7840439 ]), array([ 7612.1128032 , 10765.15316461]), array([[-14511.25141859,  15327.68246249],
       [-21026.52844678,  21172.09653459]]))