In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\1_food_waste_preprocessing.csv")
data2_1 = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\2_1_korean_preprocessing.csv")
data2_2 = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\2_2_long_term_frgn_preprocessing.csv")
data2_3 = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\2_3_short_term_frgn_3_resident_pop_preprocessing.csv")
data4 = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\4_card_spending_preprocessing.csv")

In [3]:
data_merge = pd.merge(data2_1, data2_2, on=['base_date', 'emd_cd'])
data_merge = pd.merge(data_merge, data2_3, on=['base_date', 'emd_cd'])
data_merge = pd.merge(data_merge, data4, on=['base_date', 'emd_cd'])
data_merge = pd.merge(data_merge, data1, on=['base_date', 'emd_cd'])
data_merge

,base_date,emd_cd,pop_cnt_x,pop_cnt_y,visit_pop_cnt,total_pop,use_cnt_mean,emd_amt_mean,em_cnt,em_g
0,2019-11-30,50110250,7.321788e+06,469689.3527,129161.4006,25149,267.380645,9586590.265,620,2279550
1,2019-12-31,50110250,6.915173e+06,482920.2385,122124.6609,25080,266.814465,9621756.255,8178,31493650
2,2020-01-31,50110250,7.476137e+06,587299.9640,112758.3034,25076,257.604430,9648302.136,13042,49632850
3,2020-02-29,50110250,5.561978e+06,559439.3959,60252.7989,25021,249.621160,8760701.457,12264,46197050
4,2020-03-31,50110250,6.094369e+06,714445.0812,29661.4429,24942,261.877023,8979547.945,14316,52561750
...,...,...,...,...,...,...,...,...,...,...
1629,2021-02-28,50130620,4.321265e+06,109325.4866,280.6159,4173,65.216000,2463788.712,4563,15566250
1630,2021-03-31,50130620,4.744309e+06,118258.8891,1475.8404,4178,67.700000,2572585.700,4920,17300600
1631,2021-04-30,50130620,5.236706e+06,129227.7480,1283.0997,4161,68.642336,2473174.901,5256,17646850
1632,2021-05-31,50130620,5.805413e+06,144213.2650,1212.2652,4178,69.333333,2864493.949,6346,19494750
1633,2021-06-30,50130620,5.705196e+06,146956.6848,1194.0627,4152,69.892989,2404632.734,6328,18753350

In [4]:
data_merge.columns = ['base_date', 'emd_cd', 'korean', 'long_term_frgn', 'short_term_frgn', 'resident', 'card_cnt', 'card_amt', 'waste_cnt', 'waste_amt']
data_merge

,base_date,emd_cd,korean,long_term_frgn,short_term_frgn,resident,card_cnt,card_amt,waste_cnt,waste_amt
0,2019-11-30,50110250,7.321788e+06,469689.3527,129161.4006,25149,267.380645,9586590.265,620,2279550
1,2019-12-31,50110250,6.915173e+06,482920.2385,122124.6609,25080,266.814465,9621756.255,8178,31493650
2,2020-01-31,50110250,7.476137e+06,587299.9640,112758.3034,25076,257.604430,9648302.136,13042,49632850
3,2020-02-29,50110250,5.561978e+06,559439.3959,60252.7989,25021,249.621160,8760701.457,12264,46197050
4,2020-03-31,50110250,6.094369e+06,714445.0812,29661.4429,24942,261.877023,8979547.945,14316,52561750
...,...,...,...,...,...,...,...,...,...,...
1629,2021-02-28,50130620,4.321265e+06,109325.4866,280.6159,4173,65.216000,2463788.712,4563,15566250
1630,2021-03-31,50130620,4.744309e+06,118258.8891,1475.8404,4178,67.700000,2572585.700,4920,17300600
1631,2021-04-30,50130620,5.236706e+06,129227.7480,1283.0997,4161,68.642336,2473174.901,5256,17646850
1632,2021-05-31,50130620,5.805413e+06,144213.2650,1212.2652,4178,69.333333,2864493.949,6346,19494750
1633,2021-06-30,50130620,5.705196e+06,146956.6848,1194.0627,4152,69.892989,2404632.734,6328,18753350

In [5]:
data_merge.to_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\ver_1_merge_data.csv", index_label=False)