In [13]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기

In [14]:
##### 파일 불러오기 #####
df = pd.read_csv("C:/Users/user/Desktop/2021 빅콘테스트_데이터분석분야_퓨처스리그_ECO제주\data_processing/2_3_short_term_frgn_3_resident_pop_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'visit_pop_cnt', 'total_pop']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  visit_pop_cnt  total_pop
base_date
2018-01-31 2018-01-31  50110250     58090.5960      24419
2018-02-28 2018-02-28  50110250     69710.8394      24427
2018-03-31 2018-03-31  50110250     98026.6381      24532
2018-04-30 2018-04-30  50110250    103289.7891      24606
2018-05-31 2018-05-31  50110250    115255.9750      24715
...               ...       ...            ...        ...
2021-02-28 2021-02-28  50130620       280.6159       4173
2021-03-31 2021-03-31  50130620      1475.8404       4178
2021-04-30 2021-04-30  50130620      1283.0997       4161
2021-05-31 2021-05-31  50130620      1212.2652       4178
2021-06-30 2021-06-30  50130620      1194.0627       4152

[1806 rows x 4 columns]

In [15]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'visit_pop_cnt'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  total_pop
base_date
2018-01-31  50110250      24419
2018-02-28  50110250      24427
2018-03-31  50110250      24532
2018-04-30  50110250      24606
2018-05-31  50110250      24715
...              ...        ...
2021-02-28  50130620       4173
2021-03-31  50130620       4178
2021-04-30  50130620       4161
2021-05-31  50130620       4178
2021-06-30  50130620       4152

[1806 rows x 2 columns]

In [16]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110630  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            total_pop
base_date
2018-01-31      31467
2018-02-28      31973
2018-03-31      32551
2018-04-30      32881
2018-05-31      33097
2018-06-30      33341
2018-07-31      33649
2018-08-31      33811
2018-09-30      34103
2018-10-31      34211
2018-11-30      34325
2018-12-31      34321
2019-01-31      34554
2019-02-28      34667
2019-03-31      34872
2019-04-30      34963
2019-05-31      35059
2019-06-30      35133
2019-07-31      35276
2019-08-31      35427
2019-09-30      35637
2019-10-31      35854
2019-11-30      35997
2019-12-31      36024
2020-01-31      36097
2020-02-29      36141
2020-03-31      36167
2020-04-30      36227
2020-05-31      36350
2020-06-30      36521
2020-07-31      36554
2020-08-31      36954
2020-09-30      37708
2020-10-31      37869
2020-11-30      38007
2020-12-31      38137
2021-01-31      38461
2021-02-28      38849
2021-03-31      39101
2021-04-30      39213
2021-05-31      39285
2021-06-30      39396

In [17]:
# series 형으로 변환
sub_df.to_dict('series')

{'total_pop': base_date
 2018-01-31    31467
 2018-02-28    31973
 2018-03-31    32551
 2018-04-30    32881
 2018-05-31    33097
 2018-06-30    33341
 2018-07-31    33649
 2018-08-31    33811
 2018-09-30    34103
 2018-10-31    34211
 2018-11-30    34325
 2018-12-31    34321
 2019-01-31    34554
 2019-02-28    34667
 2019-03-31    34872
 2019-04-30    34963
 2019-05-31    35059
 2019-06-30    35133
 2019-07-31    35276
 2019-08-31    35427
 2019-09-30    35637
 2019-10-31    35854
 2019-11-30    35997
 2019-12-31    36024
 2020-01-31    36097
 2020-02-29    36141
 2020-03-31    36167
 2020-04-30    36227
 2020-05-31    36350
 2020-06-30    36521
 2020-07-31    36554
 2020-08-31    36954
 2020-09-30    37708
 2020-10-31    37869
 2020-11-30    38007
 2020-12-31    38137
 2021-01-31    38461
 2021-02-28    38849
 2021-03-31    39101
 2021-04-30    39213
 2021-05-31    39285
 2021-06-30    39396
 Name: total_pop, dtype: int64}

# ARIMA

In [18]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [19]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -0.506969
p-value : 0.890649
Critical Values :
	1%: -3.605565
	5%: -2.937069
	10%: -2.606986

In [20]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 또 p-value 확인 -> 0.05보다 크면 이 파일 안되고 log파일로 넘어가세요 / 작으면 아래로 쭉 진행 #####

ADF Statistic : -4.110298
p-value : 0.000931
Critical Values :
	1%: -3.605565
	5%: -2.937069
	10%: -2.606986

In [21]:
#!pip install pmdarima

In [22]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,1,0)(0,0,0)[1] intercept   : AIC=533.996, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[1] intercept   : AIC=525.403, Time=0.07 sec
 ARIMA(0,1,2)(0,0,0)[1] intercept   : AIC=524.328, Time=0.11 sec
 ARIMA(0,1,3)(0,0,0)[1] intercept   : AIC=526.265, Time=0.13 sec
 ARIMA(0,1,4)(0,0,0)[1] intercept   : AIC=527.989, Time=0.17 sec
 ARIMA(0,1,5)(0,0,0)[1] intercept   : AIC=529.881, Time=0.19 sec
 ARIMA(1,1,0)(0,0,0)[1] intercept   : AIC=522.194, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[1] intercept   : AIC=524.071, Time=0.11 sec
 ARIMA(1,1,2)(0,0,0)[1] intercept   : AIC=526.150, Time=0.04 sec
 ARIMA(1,1,3)(0,0,0)[1] intercept   : AIC=528.174, Time=0.10 sec
 ARIMA(1,1,4)(0,0,0)[1] intercept   : AIC=529.618, Time=0.11 sec
 ARIMA(2,1,0)(0,0,0)[1] intercept   : AIC=524.075, Time=0.08 sec
 ARIMA(2,1,1)(0,0,0)[1] intercept   : AIC=inf, Time=0.26 sec
 ARIMA(2,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.24 sec
 ARIMA(2,1,3)(0,0,0)[1] intercept   : AIC=527.191, Time=0.29 sec
 ARIMA(3,1,0)(0,0,0)[1] intercept   : AIC=526.075, Time=0.12 sec
 ARIMA(3,1,1)(0,0,0)[1] intercept   : AIC=527.984, Time=0.15 sec
 ARIMA(3,1,2)(0,0,0)[1] intercept   : AIC=527.734, Time=0.25 sec
 ARIMA(4,1,0)(0,0,0)[1] intercept   : AIC=527.170, Time=0.14 sec
 ARIMA(4,1,1)(0,0,0)[1] intercept   : AIC=529.219, Time=0.15 sec
 ARIMA(5,1,0)(0,0,0)[1] intercept   : AIC=529.151, Time=0.19 sec

Best model:  ARIMA(1,1,0)(0,0,0)[1] intercept
Total fit time: 2.983 seconds

ARIMA(order=(1, 1, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [23]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.total_pop.values, order=(1,1,0))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                   41
Model:                 ARIMA(1, 1, 0)   Log Likelihood                -260.304
Method:                       css-mle   S.D. of innovations            137.946
Date:                Sat, 11 Sep 2021   AIC                            526.607
Time:                        01:05:35   BIC                            531.748
Sample:                             1   HQIC                           528.479

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        198.1914     39.992      4.956      0.000     119.809     276.574
ar.L1.D.y      0.4715      0.144      3.278      0.001       0.190       0.753
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            2.1210           +0.0000j            2.1210            0.0000
-----------------------------------------------------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

# 예측하기

In [24]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([39553.08187759, 39731.8907278 ]), array([137.94623476, 245.42305527]), array([[39282.71222565, 39823.45152953],
       [39250.87037849, 40212.91107712]]))