In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기
korean, long_term_frgn, short_term_frgn, resident, card_cnt, card_amt, waste_cnt
(이거 예시는 card_amt임)

In [25]:
df = pd.read_csv("files\\data_preprocessing\\korean_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'korean']
df

            base_date    emd_cd        korean
base_date
2018-01-31 2018-01-31  50110250  7.209306e+06
2018-02-28 2018-02-28  50110250  5.579125e+06
2018-03-31 2018-03-31  50110250  7.615021e+06
2018-04-30 2018-04-30  50110250  8.498349e+06
2018-05-31 2018-05-31  50110250  8.916782e+06
...               ...       ...           ...
2021-02-28 2021-02-28  50130620  4.321265e+06
2021-03-31 2021-03-31  50130620  4.744309e+06
2021-04-30 2021-04-30  50130620  5.236706e+06
2021-05-31 2021-05-31  50130620  5.805413e+06
2021-06-30 2021-06-30  50130620  5.705196e+06

[1806 rows x 3 columns]

In [26]:
# 필요 없는 열 제거
data = df.drop(['base_date'], 1)   
data

              emd_cd        korean
base_date
2018-01-31  50110250  7.209306e+06
2018-02-28  50110250  5.579125e+06
2018-03-31  50110250  7.615021e+06
2018-04-30  50110250  8.498349e+06
2018-05-31  50110250  8.916782e+06
...              ...           ...
2021-02-28  50130620  4.321265e+06
2021-03-31  50130620  4.744309e+06
2021-04-30  50130620  5.236706e+06
2021-05-31  50130620  5.805413e+06
2021-06-30  50130620  5.705196e+06

[1806 rows x 2 columns]

In [27]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110250  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

                  korean
base_date
2018-01-31  7.209306e+06
2018-02-28  5.579125e+06
2018-03-31  7.615021e+06
2018-04-30  8.498349e+06
2018-05-31  8.916782e+06
2018-06-30  8.536643e+06
2018-07-31  9.211783e+06
2018-08-31  9.811343e+06
2018-09-30  7.890142e+06
2018-10-31  8.117152e+06
2018-11-30  6.924006e+06
2018-12-31  6.581773e+06
2019-01-31  7.168368e+06
2019-02-28  6.622366e+06
2019-03-31  7.686719e+06
2019-04-30  8.140031e+06
2019-05-31  8.888361e+06
2019-06-30  8.234941e+06
2019-07-31  8.937235e+06
2019-08-31  9.743204e+06
2019-09-30  7.337256e+06
2019-10-31  8.352012e+06
2019-11-30  7.321788e+06
2019-12-31  6.915173e+06
2020-01-31  7.476137e+06
2020-02-29  5.561978e+06
2020-03-31  6.094369e+06
2020-04-30  5.684751e+06
2020-05-31  6.776586e+06
2020-06-30  7.621125e+06
2020-07-31  8.100981e+06
2020-08-31  9.569720e+06
2020-09-30  7.014126e+06
2020-10-31  8.147031e+06
2020-11-30  7.993247e+06
2020-12-31  6.533004e+06
2021-01-31  6.195203e+06
2021-02-28  6.646771e+06
2021-03-31  7.840074e+06
2021-04-30  8.781502e+06
2021-05-31  9.036917e+06
2021-06-30  9.251269e+06

In [28]:
# series 형으로 변환
sub_df.to_dict('series')

{'korean': base_date
 2018-01-31    7.209306e+06
 2018-02-28    5.579125e+06
 2018-03-31    7.615021e+06
 2018-04-30    8.498349e+06
 2018-05-31    8.916782e+06
 2018-06-30    8.536643e+06
 2018-07-31    9.211783e+06
 2018-08-31    9.811343e+06
 2018-09-30    7.890142e+06
 2018-10-31    8.117152e+06
 2018-11-30    6.924006e+06
 2018-12-31    6.581773e+06
 2019-01-31    7.168368e+06
 2019-02-28    6.622366e+06
 2019-03-31    7.686719e+06
 2019-04-30    8.140031e+06
 2019-05-31    8.888361e+06
 2019-06-30    8.234941e+06
 2019-07-31    8.937235e+06
 2019-08-31    9.743204e+06
 2019-09-30    7.337256e+06
 2019-10-31    8.352012e+06
 2019-11-30    7.321788e+06
 2019-12-31    6.915173e+06
 2020-01-31    7.476137e+06
 2020-02-29    5.561978e+06
 2020-03-31    6.094369e+06
 2020-04-30    5.684751e+06
 2020-05-31    6.776586e+06
 2020-06-30    7.621125e+06
 2020-07-31    8.100981e+06
 2020-08-31    9.569720e+06
 2020-09-30    7.014126e+06
 2020-10-31    8.147031e+06
 2020-11-30    7.993247e+06
 2020-12-31    6.533004e+06
 2021-01-31    6.195203e+06
 2021-02-28    6.646771e+06
 2021-03-31    7.840074e+06
 2021-04-30    8.781502e+06
 2021-05-31    9.036917e+06
 2021-06-30    9.251269e+06
 Name: korean, dtype: float64}

# ARIMA

In [29]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [31]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))

ADF Statistic : -4.008145
p-value : 0.001368
Critical Values :
	1%: -3.615509
	5%: -2.941262
	10%: -2.609200

In [32]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

 ARIMA(0,0,0)(0,0,0)[1] intercept   : AIC=1293.737, Time=0.01 sec
 ARIMA(0,0,1)(0,0,0)[1] intercept   : AIC=1285.587, Time=0.04 sec
 ARIMA(0,0,2)(0,0,0)[1] intercept   : AIC=1283.348, Time=0.04 sec
 ARIMA(0,0,3)(0,0,0)[1] intercept   : AIC=1278.150, Time=0.09 sec
 ARIMA(0,0,4)(0,0,0)[1] intercept   : AIC=1281.084, Time=0.10 sec
 ARIMA(0,0,5)(0,0,0)[1] intercept   : AIC=1279.534, Time=0.14 sec
 ARIMA(1,0,0)(0,0,0)[1] intercept   : AIC=1281.426, Time=0.02 sec
 ARIMA(1,0,1)(0,0,0)[1] intercept   : AIC=1283.425, Time=0.05 sec
 ARIMA(1,0,2)(0,0,0)[1] intercept   : AIC=1283.421, Time=0.06 sec
 ARIMA(1,0,3)(0,0,0)[1] intercept   : AIC=1280.260, Time=0.11 sec
 ARIMA(1,0,4)(0,0,0)[1] intercept   : AIC=1281.910, Time=0.20 sec
 ARIMA(2,0,0)(0,0,0)[1] intercept   : AIC=1283.358, Time=0.05 sec
 ARIMA(2,0,1)(0,0,0)[1] intercept   : AIC=inf, Time=0.20 sec
 ARIMA(2,0,2)(0,0,0)[1] intercept   : AIC=1284.124, Time=0.20 sec
 ARIMA(2,0,3)(0,0,0)[1] intercept   : AIC=inf, Time=0.38 sec
 ARIMA(3,0,0)(0,0,0)[1] intercept   : AIC=1283.296, Time=0.10 sec
 ARIMA(3,0,1)(0,0,0)[1] intercept   : AIC=1281.231, Time=0.22 sec
 ARIMA(3,0,2)(0,0,0)[1] intercept   : AIC=1281.383, Time=0.30 sec
 ARIMA(4,0,0)(0,0,0)[1] intercept   : AIC=1276.775, Time=0.17 sec
 ARIMA(4,0,1)(0,0,0)[1] intercept   : AIC=1277.672, Time=0.28 sec
 ARIMA(5,0,0)(0,0,0)[1] intercept   : AIC=1278.174, Time=0.14 sec

Best model:  ARIMA(4,0,0)(0,0,0)[1] intercept
Total fit time: 2.942 seconds

ARIMA(order=(4, 0, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [33]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.korean.values, order=(4,0,0))  
#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\Users\soeun\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   42
Model:                     ARMA(4, 0)   Log Likelihood                -632.283
Method:                       css-mle   S.D. of innovations         820673.160
Date:                Sat, 11 Sep 2021   AIC                           1276.566
Time:                        01:26:38   BIC                           1286.992
Sample:                             0   HQIC                          1280.387

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       7.728e+06   1.73e+05     44.628      0.000    7.39e+06    8.07e+06
ar.L1.y        0.4113      0.136      3.024      0.002       0.145       0.678
ar.L2.y        0.2913      0.165      1.766      0.077      -0.032       0.615
ar.L3.y        0.0005      0.158      0.003      0.998      -0.310       0.311
ar.L4.y       -0.4565      0.143     -3.185      0.001      -0.737      -0.176
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            0.9536           -0.5945j            1.1238           -0.0887
AR.2            0.9536           +0.5945j            1.1238            0.0887
AR.3           -0.9531           -0.9089j            1.3170           -0.3788
AR.4           -0.9531           +0.9089j            1.3170            0.3788
-----------------------------------------------------------------------------

# 예측하기

In [34]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

(array([8684899.70342643, 8084718.3314761 ]), array([820673.1603742, 887378.1455713]), array([[ 7076409.86601433, 10293389.54083854],
       [ 6345489.1254884 ,  9823947.53746379]]))