In [2]:
import pandas as pd
import numpy as np

In [3]:
date1 = pd.date_range(start='2021-07-01', end='2021-07-11')
data1 = pd.DataFrame({'base_date':date1})
data1['distancing'] = 1
data1.head()

   base_date  distancing
0 2021-07-01           1
1 2021-07-02           1
2 2021-07-03           1
3 2021-07-04           1
4 2021-07-05           1

In [4]:
date2 = pd.date_range(start='2021-07-12', end='2021-07-25')
data2 = pd.DataFrame({'base_date':date2})
data2['distancing'] = 2
data2.head()

   base_date  distancing
0 2021-07-12           2
1 2021-07-13           2
2 2021-07-14           2
3 2021-07-15           2
4 2021-07-16           2

In [5]:
date3 = pd.date_range(start='2021-07-26', end='2021-08-17')
data3 = pd.DataFrame({'base_date':date3})
data3['distancing'] = 3
data3.head()

   base_date  distancing
0 2021-07-26           3
1 2021-07-27           3
2 2021-07-28           3
3 2021-07-29           3
4 2021-07-30           3

In [6]:
date4 = pd.date_range(start='2021-08-18', end='2021-08-31')
data4 = pd.DataFrame({'base_date':date4})
data4['distancing'] = 4
data4.head()

   base_date  distancing
0 2021-08-18           4
1 2021-08-19           4
2 2021-08-20           4
3 2021-08-21           4
4 2021-08-22           4

In [7]:
distancing_data = data1.append(data2)
distancing_data = distancing_data.append(data3)
distancing_data = distancing_data.append(data4)
distancing_data

    base_date  distancing
0  2021-07-01           1
1  2021-07-02           1
2  2021-07-03           1
3  2021-07-04           1
4  2021-07-05           1
..        ...         ...
9  2021-08-27           4
10 2021-08-28           4
11 2021-08-29           4
12 2021-08-30           4
13 2021-08-31           4

[62 rows x 2 columns]

In [8]:
distancing_data_monthly = distancing_data.resample('M', on='base_date').mean()
distancing_data_monthly.head()

            distancing
base_date
2021-07-31    1.838710
2021-08-31    3.451613

In [9]:
def monthly_output(date, emdcd):
    df = pd.DataFrame(index=range(0,1), columns=['base_date', 'emd_cd', 'distancing'])
    df['base_date'] = date
    df['emd_cd'] = emdcd
    df['distancing'] = distancing_data_monthly['distancing'][date]
    return df

In [10]:
emd_cd_ary = [50110250, 50110253, 50110256, 50110259, 50110310, 50110320, 50110330, 50110510, 50110520, 50110530, 50110540, 50110550, 50110560, 50110570, 50110580, 50110590, 50110600, 50110610, 50110620, 50110630, 50110640, 50110650, 50110660, 50110670, 50110680, 50110690, 50130250, 50130253, 50130259, 50130310, 50130320, 50130510, 50130520, 50130530, 50130540, 50130550, 50130560, 50130570, 50130580, 50130590, 50130600, 50130610, 50130620]
distancing_result = pd.DataFrame(index=range(0,0), columns=['base_date', 'emd_cd', 'distancing'])

for i in distancing_data_monthly.index:
    for j in emd_cd_ary:
        tmp = monthly_output(i, j)
        distancing_result = distancing_result.append(tmp)
        
distancing_result = distancing_result.reset_index(drop=True)
distancing_result

    base_date    emd_cd  distancing
0  2021-07-31  50110250    1.838710
1  2021-07-31  50110253    1.838710
2  2021-07-31  50110256    1.838710
3  2021-07-31  50110259    1.838710
4  2021-07-31  50110310    1.838710
..        ...       ...         ...
81 2021-08-31  50130580    3.451613
82 2021-08-31  50130590    3.451613
83 2021-08-31  50130600    3.451613
84 2021-08-31  50130610    3.451613
85 2021-08-31  50130620    3.451613

[86 rows x 3 columns]

In [11]:
distancing_result.to_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\distancing_7,8_preprocessing.csv", index_label=False)

In [12]:
pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\distancing_7,8_preprocessing.csv")

     base_date    emd_cd  distancing
0   2021-07-31  50110250    1.838710
1   2021-07-31  50110253    1.838710
2   2021-07-31  50110256    1.838710
3   2021-07-31  50110259    1.838710
4   2021-07-31  50110310    1.838710
..         ...       ...         ...
81  2021-08-31  50130580    3.451613
82  2021-08-31  50130590    3.451613
83  2021-08-31  50130600    3.451613
84  2021-08-31  50130610    3.451613
85  2021-08-31  50130620    3.451613

[86 rows x 3 columns]