In [1]:
import pandas as pd
import numpy as np

In [32]:
date1 = pd.date_range(start='2018-01-01', end='2020-06-27')
data1 = pd.DataFrame({'base_date':date1})
data1['distancing'] = 0
data1.head()

   base_date  distancing
0 2018-01-01           0
1 2018-01-02           0
2 2018-01-03           0
3 2018-01-04           0
4 2018-01-05           0

In [33]:
date2 = pd.date_range(start='2020-06-28', end='2020-08-21')
data2 = pd.DataFrame({'base_date':date2})
data2['distancing'] = 1
data2.head()

   base_date  distancing
0 2020-06-28           1
1 2020-06-29           1
2 2020-06-30           1
3 2020-07-01           1
4 2020-07-02           1

In [34]:
date3 = pd.date_range(start='2020-08-22', end='2020-11-06')
data3 = pd.DataFrame({'base_date':date3})
data3['distancing'] = 2
data3.head()

   base_date  distancing
0 2020-08-22           2
1 2020-08-23           2
2 2020-08-24           2
3 2020-08-25           2
4 2020-08-26           2

In [35]:
date4 = pd.date_range(start='2020-11-07', end='2020-12-03')
data4 = pd.DataFrame({'base_date':date4})
data4['distancing'] = 1
data4.head()

   base_date  distancing
0 2020-11-07           1
1 2020-11-08           1
2 2020-11-09           1
3 2020-11-10           1
4 2020-11-11           1

In [36]:
date5 = pd.date_range(start='2020-12-04', end='2020-12-17')
data5 = pd.DataFrame({'base_date':date5})
data5['distancing'] = 1.5
data5.head()

   base_date  distancing
0 2020-12-04         1.5
1 2020-12-05         1.5
2 2020-12-06         1.5
3 2020-12-07         1.5
4 2020-12-08         1.5

In [37]:
date6 = pd.date_range(start='2020-12-18', end='2021-02-14')
data6 = pd.DataFrame({'base_date':date6})
data6['distancing'] = 2
data6.head()

   base_date  distancing
0 2020-12-18           2
1 2020-12-19           2
2 2020-12-20           2
3 2020-12-21           2
4 2020-12-22           2

In [38]:
date7 = pd.date_range(start='2021-02-15', end='2021-05-29')
data7 = pd.DataFrame({'base_date':date7})
data7['distancing'] = 1.5
data7.head()

   base_date  distancing
0 2021-02-15         1.5
1 2021-02-16         1.5
2 2021-02-17         1.5
3 2021-02-18         1.5
4 2021-02-19         1.5

In [39]:
date8 = pd.date_range(start='2021-05-30', end='2021-06-30')
data8 = pd.DataFrame({'base_date':date8})
data8['distancing'] = 2
data8.head()

   base_date  distancing
0 2021-05-30           2
1 2021-05-31           2
2 2021-06-01           2
3 2021-06-02           2
4 2021-06-03           2

In [40]:
distancing_data = data1.append(data2)
distancing_data = distancing_data.append(data3)
distancing_data = distancing_data.append(data4)
distancing_data = distancing_data.append(data5)
distancing_data = distancing_data.append(data6)
distancing_data = distancing_data.append(data7)
distancing_data = distancing_data.append(data8)
distancing_data

    base_date  distancing
0  2018-01-01         0.0
1  2018-01-02         0.0
2  2018-01-03         0.0
3  2018-01-04         0.0
4  2018-01-05         0.0
..        ...         ...
27 2021-06-26         2.0
28 2021-06-27         2.0
29 2021-06-28         2.0
30 2021-06-29         2.0
31 2021-06-30         2.0

[1277 rows x 2 columns]

In [42]:
distancing_data_monthly = distancing_data.resample('M', on='base_date').mean()
distancing_data_monthly.head()

            distancing
base_date
2018-01-31         0.0
2018-02-28         0.0
2018-03-31         0.0
2018-04-30         0.0
2018-05-31         0.0

In [48]:
distancing_data_monthly['distancing']['2021-05-31']

1.532258064516129

In [51]:
def monthly_output(date, emdcd):
    df = pd.DataFrame(index=range(0,1), columns=['base_date', 'emd_cd', 'distancing'])
    df['base_date'] = date
    df['emd_cd'] = emdcd
    df['distancing'] = distancing_data_monthly['distancing'][date]
    return df

In [54]:
emd_cd_ary = [50110250, 50110253, 50110256, 50110259, 50110310, 50110320, 50110330, 50110510, 50110520, 50110530, 50110540, 50110550, 50110560, 50110570, 50110580, 50110590, 50110600, 50110610, 50110620, 50110630, 50110640, 50110650, 50110660, 50110670, 50110680, 50110690, 50130250, 50130253, 50130259, 50130310, 50130320, 50130510, 50130520, 50130530, 50130540, 50130550, 50130560, 50130570, 50130580, 50130590, 50130600, 50130610, 50130620]
distancing_result = pd.DataFrame(index=range(0,0), columns=['base_date', 'emd_cd', 'distancing'])

for i in distancing_data_monthly.index:
    for j in emd_cd_ary:
        tmp = monthly_output(i, j)
        distancing_result = distancing_result.append(tmp)
        
distancing_result = distancing_result.reset_index(drop=True)
distancing_result

      base_date    emd_cd  distancing
0    2018-01-31  50110250         0.0
1    2018-01-31  50110253         0.0
2    2018-01-31  50110256         0.0
3    2018-01-31  50110259         0.0
4    2018-01-31  50110310         0.0
...         ...       ...         ...
1801 2021-06-30  50130580         2.0
1802 2021-06-30  50130590         2.0
1803 2021-06-30  50130600         2.0
1804 2021-06-30  50130610         2.0
1805 2021-06-30  50130620         2.0

[1806 rows x 3 columns]

In [55]:
distancing_result.to_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\distancing_preprocessing.csv", index_label=False)

In [56]:
pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\distancing_preprocessing.csv")

       base_date    emd_cd  distancing
0     2018-01-31  50110250         0.0
1     2018-01-31  50110253         0.0
2     2018-01-31  50110256         0.0
3     2018-01-31  50110259         0.0
4     2018-01-31  50110310         0.0
...          ...       ...         ...
1801  2021-06-30  50130580         2.0
1802  2021-06-30  50130590         2.0
1803  2021-06-30  50130600         2.0
1804  2021-06-30  50130610         2.0
1805  2021-06-30  50130620         2.0

[1806 rows x 3 columns]