In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import os
import warnings

# 파일 불러와서 열이름 바꾸기
korean, long_term_frgn, short_term_frgn, resident, card_cnt, card_amt, waste_cnt
(이거 예시는 card_amt임)

In [2]:
df = pd.read_csv("files\\data_preprocessing\\long_term_frgn_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'long_term_frgn']  
df

            base_date    emd_cd  long_term_frgn
base_date
2018-01-31 2018-01-31  50110250     427986.3363
2018-02-28 2018-02-28  50110250     427240.8119
2018-03-31 2018-03-31  50110250     513638.2631
2018-04-30 2018-04-30  50110250     474601.3510
2018-05-31 2018-05-31  50110250     395262.5483
...               ...       ...             ...
2021-02-28 2021-02-28  50130620     109325.4866
2021-03-31 2021-03-31  50130620     118258.8891
2021-04-30 2021-04-30  50130620     129227.7480
2021-05-31 2021-05-31  50130620     144213.2650
2021-06-30 2021-06-30  50130620     146956.6848

[1806 rows x 3 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date'], 1)    
data

              emd_cd  long_term_frgn
base_date
2018-01-31  50110250     427986.3363
2018-02-28  50110250     427240.8119
2018-03-31  50110250     513638.2631
2018-04-30  50110250     474601.3510
2018-05-31  50110250     395262.5483
...              ...             ...
2021-02-28  50130620     109325.4866
2021-03-31  50130620     118258.8891
2021-04-30  50130620     129227.7480
2021-05-31  50130620     144213.2650
2021-06-30  50130620     146956.6848

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110253

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            long_term_frgn
base_date
2018-01-31    6.424281e+05
2018-02-28    4.913141e+05
2018-03-31    7.618298e+05
2018-04-30    6.217017e+05
2018-05-31    4.369558e+05
2018-06-30    6.032624e+05
2018-07-31    5.023417e+05
2018-08-31    7.758212e+05
2018-09-30    7.221997e+05
2018-10-31    6.951731e+05
2018-11-30    7.232267e+05
2018-12-31    7.171616e+05
2019-01-31    1.039633e+06
2019-02-28    6.446824e+05
2019-03-31    1.080013e+06
2019-04-30    8.351836e+05
2019-05-31    7.050003e+05
2019-06-30    7.142834e+05
2019-07-31    6.214778e+05
2019-08-31    8.882073e+05
2019-09-30    7.353994e+05
2019-10-31    9.152476e+05
2019-11-30    8.964697e+05
2019-12-31    1.099295e+06
2020-01-31    9.818735e+05
2020-02-29    1.028810e+06
2020-03-31    8.909201e+05
2020-04-30    8.947403e+05
2020-05-31    6.637617e+05
2020-06-30    5.871308e+05
2020-07-31    6.657675e+05
2020-08-31    7.543746e+05
2020-09-30    8.472370e+05
2020-10-31    8.540498e+05
2020-11-30    9.690225e+05
2020-12-31    9.255475e+05
2021-01-31    9.180649e+05
2021-02-28    6.859113e+05
2021-03-31    1.038960e+06
2021-04-30    7.987066e+05
2021-05-31    8.023356e+05
2021-06-30    6.822264e+05

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'long_term_frgn': base_date
 2018-01-31    6.424281e+05
 2018-02-28    4.913141e+05
 2018-03-31    7.618298e+05
 2018-04-30    6.217017e+05
 2018-05-31    4.369558e+05
 2018-06-30    6.032624e+05
 2018-07-31    5.023417e+05
 2018-08-31    7.758212e+05
 2018-09-30    7.221997e+05
 2018-10-31    6.951731e+05
 2018-11-30    7.232267e+05
 2018-12-31    7.171616e+05
 2019-01-31    1.039633e+06
 2019-02-28    6.446824e+05
 2019-03-31    1.080013e+06
 2019-04-30    8.351836e+05
 2019-05-31    7.050003e+05
 2019-06-30    7.142834e+05
 2019-07-31    6.214778e+05
 2019-08-31    8.882073e+05
 2019-09-30    7.353994e+05
 2019-10-31    9.152476e+05
 2019-11-30    8.964697e+05
 2019-12-31    1.099295e+06
 2020-01-31    9.818735e+05
 2020-02-29    1.028810e+06
 2020-03-31    8.909201e+05
 2020-04-30    8.947403e+05
 2020-05-31    6.637617e+05
 2020-06-30    5.871308e+05
 2020-07-31    6.657675e+05
 2020-08-31    7.543746e+05
 2020-09-30    8.472370e+05
 2020-10-31    8.540498e+05
 2020-11-30    9.690225e+05
 2020-12-31    9.255475e+05
 2021-01-31    9.180649e+05
 2021-02-28    6.859113e+05
 2021-03-31    1.038960e+06
 2021-04-30    7.987066e+05
 2021-05-31    8.023356e+05
 2021-06-30    6.822264e+05
 Name: long_term_frgn, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))

ADF Statistic : -2.887270
p-value : 0.046848
Critical Values :
	1%: -3.632743
	5%: -2.948510
	10%: -2.613017

In [8]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

 ARIMA(0,0,0)(0,0,0)[1] intercept   : AIC=1130.614, Time=0.01 sec
 ARIMA(0,0,1)(0,0,0)[1] intercept   : AIC=1129.459, Time=0.09 sec
 ARIMA(0,0,2)(0,0,0)[1] intercept   : AIC=1122.795, Time=0.04 sec
 ARIMA(0,0,3)(0,0,0)[1] intercept   : AIC=1125.719, Time=0.07 sec
 ARIMA(0,0,4)(0,0,0)[1] intercept   : AIC=1124.703, Time=0.08 sec
 ARIMA(0,0,5)(0,0,0)[1] intercept   : AIC=1126.271, Time=0.14 sec
 ARIMA(1,0,0)(0,0,0)[1] intercept   : AIC=1126.390, Time=0.02 sec
 ARIMA(1,0,1)(0,0,0)[1] intercept   : AIC=1126.694, Time=0.07 sec
 ARIMA(1,0,2)(0,0,0)[1] intercept   : AIC=1124.064, Time=0.07 sec
 ARIMA(1,0,3)(0,0,0)[1] intercept   : AIC=1126.065, Time=0.10 sec
 ARIMA(1,0,4)(0,0,0)[1] intercept   : AIC=1124.918, Time=0.11 sec
 ARIMA(2,0,0)(0,0,0)[1] intercept   : AIC=1121.325, Time=0.06 sec
 ARIMA(2,0,1)(0,0,0)[1] intercept   : AIC=1122.799, Time=0.08 sec
 ARIMA(2,0,2)(0,0,0)[1] intercept   : AIC=1124.806, Time=0.12 sec
 ARIMA(2,0,3)(0,0,0)[1] intercept   : AIC=inf, Time=0.41 sec
 ARIMA(3,0,0)(0,0,0)[1] intercept   : AIC=1122.599, Time=0.05 sec
 ARIMA(3,0,1)(0,0,0)[1] intercept   : AIC=1124.560, Time=0.11 sec
 ARIMA(3,0,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.35 sec
 ARIMA(4,0,0)(0,0,0)[1] intercept   : AIC=1123.471, Time=0.10 sec
 ARIMA(4,0,1)(0,0,0)[1] intercept   : AIC=inf, Time=0.38 sec
 ARIMA(5,0,0)(0,0,0)[1] intercept   : AIC=1127.022, Time=0.11 sec

Best model:  ARIMA(2,0,0)(0,0,0)[1] intercept
Total fit time: 2.621 seconds

ARIMA(order=(2, 0, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [9]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.long_term_frgn.values, order=(2,0,0))

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   42
Model:                     ARMA(2, 0)   Log Likelihood                -556.583
Method:                       css-mle   S.D. of innovations         136881.945
Date:                Sat, 11 Sep 2021   AIC                           1121.166
Time:                        03:53:37   BIC                           1128.117
Sample:                             0   HQIC                          1123.714

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       7.823e+05   5.43e+04     14.418      0.000    6.76e+05    8.89e+05
ar.L1.y        0.2274      0.138      1.646      0.100      -0.043       0.498
ar.L2.y        0.4058      0.143      2.842      0.004       0.126       0.686
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.3144           +0.0000j            1.3144            0.0000
AR.2           -1.8749           +0.0000j            1.8749            0.5000
-----------------------------------------------------------------------------

C:\Users\soeun\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

# 예측하기

In [10]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

(array([767679.83225112, 738378.18964649]), array([136881.94487832, 140377.47362481]), array([[ 499396.15015582, 1035963.51434642],
       [ 463243.39710114, 1013512.98219184]]))