In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기

In [2]:
##### 파일 불러오기 #####
df = pd.read_csv("C:/Users/user/Desktop/2021 빅콘테스트_데이터분석분야_퓨처스리그_ECO제주\data_processing/2_3_short_term_frgn_3_resident_pop_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'visit_pop_cnt', 'total_pop']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  visit_pop_cnt  total_pop
base_date
2018-01-31 2018-01-31  50110250     58090.5960      24419
2018-02-28 2018-02-28  50110250     69710.8394      24427
2018-03-31 2018-03-31  50110250     98026.6381      24532
2018-04-30 2018-04-30  50110250    103289.7891      24606
2018-05-31 2018-05-31  50110250    115255.9750      24715
...               ...       ...            ...        ...
2021-02-28 2021-02-28  50130620       280.6159       4173
2021-03-31 2021-03-31  50130620      1475.8404       4178
2021-04-30 2021-04-30  50130620      1283.0997       4161
2021-05-31 2021-05-31  50130620      1212.2652       4178
2021-06-30 2021-06-30  50130620      1194.0627       4152

[1806 rows x 4 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'total_pop'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  visit_pop_cnt
base_date
2018-01-31  50110250     58090.5960
2018-02-28  50110250     69710.8394
2018-03-31  50110250     98026.6381
2018-04-30  50110250    103289.7891
2018-05-31  50110250    115255.9750
...              ...            ...
2021-02-28  50130620       280.6159
2021-03-31  50130620      1475.8404
2021-04-30  50130620      1283.0997
2021-05-31  50130620      1212.2652
2021-06-30  50130620      1194.0627

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50110620  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            visit_pop_cnt
base_date
2018-01-31     15134.5042
2018-02-28     18190.4213
2018-03-31     29082.8370
2018-04-30     39378.2671
2018-05-31     55713.0109
2018-06-30     42904.1571
2018-07-31     60035.4029
2018-08-31     80972.4411
2018-09-30     69952.8885
2018-10-31     73343.8152
2018-11-30     75792.2444
2018-12-31     60154.2198
2019-01-31     51945.2817
2019-02-28     47214.9491
2019-03-31     70946.0216
2019-04-30     63234.6987
2019-05-31     50610.7714
2019-06-30     60317.6017
2019-07-31     66609.9906
2019-08-31     92720.1932
2019-09-30     91592.4444
2019-10-31     57765.0264
2019-11-30     47746.7043
2019-12-31     44989.0379
2020-01-31     30543.0190
2020-02-29     16835.8419
2020-03-31     13951.0338
2020-04-30     11398.7627
2020-05-31      1364.9766
2020-06-30      1799.4519
2020-07-31      2826.9035
2020-08-31      3859.3250
2020-09-30      6400.5079
2020-10-31      5647.8681
2020-11-30      4712.1196
2020-12-31      5352.6926
2021-01-31      2186.1284
2021-02-28      2009.8022
2021-03-31      3411.7537
2021-04-30      3564.8942
2021-05-31      2788.9421
2021-06-30      3436.3080

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'visit_pop_cnt': base_date
 2018-01-31    15134.5042
 2018-02-28    18190.4213
 2018-03-31    29082.8370
 2018-04-30    39378.2671
 2018-05-31    55713.0109
 2018-06-30    42904.1571
 2018-07-31    60035.4029
 2018-08-31    80972.4411
 2018-09-30    69952.8885
 2018-10-31    73343.8152
 2018-11-30    75792.2444
 2018-12-31    60154.2198
 2019-01-31    51945.2817
 2019-02-28    47214.9491
 2019-03-31    70946.0216
 2019-04-30    63234.6987
 2019-05-31    50610.7714
 2019-06-30    60317.6017
 2019-07-31    66609.9906
 2019-08-31    92720.1932
 2019-09-30    91592.4444
 2019-10-31    57765.0264
 2019-11-30    47746.7043
 2019-12-31    44989.0379
 2020-01-31    30543.0190
 2020-02-29    16835.8419
 2020-03-31    13951.0338
 2020-04-30    11398.7627
 2020-05-31     1364.9766
 2020-06-30     1799.4519
 2020-07-31     2826.9035
 2020-08-31     3859.3250
 2020-09-30     6400.5079
 2020-10-31     5647.8681
 2020-11-30     4712.1196
 2020-12-31     5352.6926
 2021-01-31     2186.1284
 2021-02-28     2009.8022
 2021-03-31     3411.7537
 2021-04-30     3564.8942
 2021-05-31     2788.9421
 2021-06-30     3436.3080
 Name: visit_pop_cnt, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -1.083355
p-value : 0.721664
Critical Values :
	1%: -3.600983
	5%: -2.935135
	10%: -2.605963

In [8]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 또 p-value 확인 -> 0.05보다 크면 이 파일 안되고 log파일로 넘어가세요 / 작으면 아래로 쭉 진행 #####

ADF Statistic : -4.924858
p-value : 0.000031
Critical Values :
	1%: -3.610400
	5%: -2.939109
	10%: -2.608063

In [9]:
#!pip install pmdarima

In [10]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,1,0)(0,0,0)[1] intercept   : AIC=885.765, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[1] intercept   : AIC=886.529, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[1] intercept   : AIC=888.248, Time=0.20 sec
 ARIMA(0,1,3)(0,0,0)[1] intercept   : AIC=889.296, Time=0.12 sec
 ARIMA(0,1,4)(0,0,0)[1] intercept   : AIC=894.289, Time=0.19 sec
 ARIMA(0,1,5)(0,0,0)[1] intercept   : AIC=889.085, Time=0.81 sec
 ARIMA(1,1,0)(0,0,0)[1] intercept   : AIC=886.978, Time=0.08 sec
 ARIMA(1,1,1)(0,0,0)[1] intercept   : AIC=885.739, Time=0.27 sec
 ARIMA(1,1,2)(0,0,0)[1] intercept   : AIC=888.668, Time=0.56 sec
 ARIMA(1,1,3)(0,0,0)[1] intercept   : AIC=891.277, Time=0.20 sec
 ARIMA(1,1,4)(0,0,0)[1] intercept   : AIC=inf, Time=0.85 sec
 ARIMA(2,1,0)(0,0,0)[1] intercept   : AIC=887.929, Time=0.06 sec
 ARIMA(2,1,1)(0,0,0)[1] intercept   : AIC=887.323, Time=0.19 sec
 ARIMA(2,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.58 sec
 ARIMA(2,1,3)(0,0,0)[1] intercept   : AIC=inf, Time=0.89 sec
 ARIMA(3,1,0)(0,0,0)[1] intercept   : AIC=887.952, Time=0.08 sec
 ARIMA(3,1,1)(0,0,0)[1] intercept   : AIC=889.024, Time=0.33 sec
 ARIMA(3,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.78 sec
 ARIMA(4,1,0)(0,0,0)[1] intercept   : AIC=890.320, Time=0.16 sec
 ARIMA(4,1,1)(0,0,0)[1] intercept   : AIC=891.046, Time=0.31 sec
 ARIMA(5,1,0)(0,0,0)[1] intercept   : AIC=891.017, Time=0.12 sec

Best model:  ARIMA(1,1,1)(0,0,0)[1] intercept
Total fit time: 6.929 seconds

ARIMA(order=(1, 1, 1), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [13]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.visit_pop_cnt.values, order=(1,1,1))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                   41
Model:                 ARIMA(1, 1, 1)   Log Likelihood                -438.110
Method:                       css-mle   S.D. of innovations          10514.998
Date:                Fri, 10 Sep 2021   AIC                            884.219
Time:                        17:11:48   BIC                            891.073
Sample:                             1   HQIC                           886.715

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       -352.7322   1996.778     -0.177      0.860   -4266.344    3560.880
ar.L1.D.y     -0.5340      0.208     -2.567      0.010      -0.942      -0.126
ma.L1.D.y      0.8700      0.140      6.223      0.000       0.596       1.144
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -1.8725           +0.0000j            1.8725            0.5000
MA.1           -1.1494           +0.0000j            1.1494            0.5000
-----------------------------------------------------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

# 예측하기

In [14]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([3995.47922918, 3155.75410266]), array([10514.99789957, 17547.08966172]), array([[-16613.53795149,  24604.49640985],
       [-31235.90966781,  37547.41787314]]))