In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기

In [2]:
##### 파일 불러오기 #####
df = pd.read_csv("C:/Users/user/Desktop/2021 빅콘테스트_데이터분석분야_퓨처스리그_ECO제주\data_processing/2_3_short_term_frgn_3_resident_pop_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'visit_pop_cnt', 'total_pop']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  visit_pop_cnt  total_pop
base_date
2018-01-31 2018-01-31  50110250     58090.5960      24419
2018-02-28 2018-02-28  50110250     69710.8394      24427
2018-03-31 2018-03-31  50110250     98026.6381      24532
2018-04-30 2018-04-30  50110250    103289.7891      24606
2018-05-31 2018-05-31  50110250    115255.9750      24715
...               ...       ...            ...        ...
2021-02-28 2021-02-28  50130620       280.6159       4173
2021-03-31 2021-03-31  50130620      1475.8404       4178
2021-04-30 2021-04-30  50130620      1283.0997       4161
2021-05-31 2021-05-31  50130620      1212.2652       4178
2021-06-30 2021-06-30  50130620      1194.0627       4152

[1806 rows x 4 columns]

In [3]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'total_pop'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  visit_pop_cnt
base_date
2018-01-31  50110250     58090.5960
2018-02-28  50110250     69710.8394
2018-03-31  50110250     98026.6381
2018-04-30  50110250    103289.7891
2018-05-31  50110250    115255.9750
...              ...            ...
2021-02-28  50130620       280.6159
2021-03-31  50130620      1475.8404
2021-04-30  50130620      1283.0997
2021-05-31  50130620      1212.2652
2021-06-30  50130620      1194.0627

[1806 rows x 2 columns]

In [4]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50130310  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            visit_pop_cnt
base_date
2018-01-31    110446.4995
2018-02-28    109912.2991
2018-03-31    390327.1631
2018-04-30    274568.5759
2018-05-31    303846.7356
2018-06-30    274051.2359
2018-07-31    394717.2318
2018-08-31    566628.4967
2018-09-30    234018.9317
2018-10-31    313005.2816
2018-11-30    247104.6537
2018-12-31    349656.2672
2019-01-31    183637.5108
2019-02-28    232870.3219
2019-03-31    245742.0245
2019-04-30    285762.4284
2019-05-31    392833.6351
2019-06-30    434399.4314
2019-07-31    456072.2009
2019-08-31    567228.9068
2019-09-30    319119.6090
2019-10-31    473865.1432
2019-11-30    351179.5686
2019-12-31    376156.1298
2020-01-31    286205.3711
2020-02-29     86329.5508
2020-03-31     18346.2291
2020-04-30      6574.1040
2020-05-31       707.3057
2020-06-30      1102.0395
2020-07-31      5343.7214
2020-08-31      5322.9270
2020-09-30      4452.1409
2020-10-31      4314.9073
2020-11-30      2785.7617
2020-12-31      4047.3522
2021-01-31      1434.8844
2021-02-28      1645.0649
2021-03-31      2976.3807
2021-04-30      2653.3533
2021-05-31      2327.5552
2021-06-30      2470.5642

In [5]:
# series 형으로 변환
sub_df.to_dict('series')

{'visit_pop_cnt': base_date
 2018-01-31    110446.4995
 2018-02-28    109912.2991
 2018-03-31    390327.1631
 2018-04-30    274568.5759
 2018-05-31    303846.7356
 2018-06-30    274051.2359
 2018-07-31    394717.2318
 2018-08-31    566628.4967
 2018-09-30    234018.9317
 2018-10-31    313005.2816
 2018-11-30    247104.6537
 2018-12-31    349656.2672
 2019-01-31    183637.5108
 2019-02-28    232870.3219
 2019-03-31    245742.0245
 2019-04-30    285762.4284
 2019-05-31    392833.6351
 2019-06-30    434399.4314
 2019-07-31    456072.2009
 2019-08-31    567228.9068
 2019-09-30    319119.6090
 2019-10-31    473865.1432
 2019-11-30    351179.5686
 2019-12-31    376156.1298
 2020-01-31    286205.3711
 2020-02-29     86329.5508
 2020-03-31     18346.2291
 2020-04-30      6574.1040
 2020-05-31       707.3057
 2020-06-30      1102.0395
 2020-07-31      5343.7214
 2020-08-31      5322.9270
 2020-09-30      4452.1409
 2020-10-31      4314.9073
 2020-11-30      2785.7617
 2020-12-31      4047.3522
 2021-01-31      1434.8844
 2021-02-28      1645.0649
 2021-03-31      2976.3807
 2021-04-30      2653.3533
 2021-05-31      2327.5552
 2021-06-30      2470.5642
 Name: visit_pop_cnt, dtype: float64}

# ARIMA

In [6]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [7]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -1.099359
p-value : 0.715328
Critical Values :
	1%: -3.610400
	5%: -2.939109
	10%: -2.608063

In [8]:
# 차분
diff_1 = sub_df_float.diff(periods=1).iloc[1:]

# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
result = adfuller(diff_1)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 또 p-value 확인 -> 0.05보다 크면 이 파일 안되고 log파일로 넘어가세요 / 작으면 아래로 쭉 진행 #####

ADF Statistic : -5.230436
p-value : 0.000008
Critical Values :
	1%: -3.610400
	5%: -2.939109
	10%: -2.608063

In [9]:
#!pip install pmdarima

In [10]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,1,0)(0,0,0)[1] intercept   : AIC=1070.974, Time=0.04 sec
 ARIMA(0,1,1)(0,0,0)[1] intercept   : AIC=1069.293, Time=0.07 sec
 ARIMA(0,1,2)(0,0,0)[1] intercept   : AIC=1077.250, Time=0.19 sec
 ARIMA(0,1,3)(0,0,0)[1] intercept   : AIC=1083.606, Time=0.14 sec
 ARIMA(0,1,4)(0,0,0)[1] intercept   : AIC=1072.088, Time=0.18 sec
 ARIMA(0,1,5)(0,0,0)[1] intercept   : AIC=inf, Time=0.73 sec
 ARIMA(1,1,0)(0,0,0)[1] intercept   : AIC=1066.605, Time=0.06 sec
 ARIMA(1,1,1)(0,0,0)[1] intercept   : AIC=1068.221, Time=0.10 sec
 ARIMA(1,1,2)(0,0,0)[1] intercept   : AIC=1077.405, Time=0.15 sec
 ARIMA(1,1,3)(0,0,0)[1] intercept   : AIC=1081.861, Time=0.20 sec
 ARIMA(1,1,4)(0,0,0)[1] intercept   : AIC=inf, Time=0.92 sec
 ARIMA(2,1,0)(0,0,0)[1] intercept   : AIC=1068.688, Time=0.08 sec
 ARIMA(2,1,1)(0,0,0)[1] intercept   : AIC=1070.181, Time=0.16 sec
 ARIMA(2,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.62 sec
 ARIMA(2,1,3)(0,0,0)[1] intercept   : AIC=inf, Time=0.71 sec
 ARIMA(3,1,0)(0,0,0)[1] intercept   : AIC=1070.401, Time=0.07 sec
 ARIMA(3,1,1)(0,0,0)[1] intercept   : AIC=1072.181, Time=0.16 sec
 ARIMA(3,1,2)(0,0,0)[1] intercept   : AIC=inf, Time=0.89 sec
 ARIMA(4,1,0)(0,0,0)[1] intercept   : AIC=1072.205, Time=0.10 sec
 ARIMA(4,1,1)(0,0,0)[1] intercept   : AIC=1072.882, Time=0.43 sec
 ARIMA(5,1,0)(0,0,0)[1] intercept   : AIC=1070.225, Time=0.12 sec

Best model:  ARIMA(1,1,0)(0,0,0)[1] intercept
Total fit time: 6.199 seconds

ARIMA(order=(1, 1, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [13]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.visit_pop_cnt.values, order=(1,1,0))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                   41
Model:                 ARIMA(1, 1, 0)   Log Likelihood                -530.275
Method:                       css-mle   S.D. of innovations          99981.947
Date:                Fri, 10 Sep 2021   AIC                           1066.550
Time:                        17:26:00   BIC                           1071.691
Sample:                             1   HQIC                          1068.422

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2633.5594   1.14e+04     -0.231      0.818    -2.5e+04    1.98e+04
ar.L1.D.y     -0.3760      0.142     -2.650      0.008      -0.654      -0.098
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -2.6598           +0.0000j            2.6598            0.5000
-----------------------------------------------------------------------------

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

# 예측하기

In [14]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([-1206.8973477 , -3447.98246037]), array([ 99981.9471359 , 117852.18485304]), array([[-197167.91283825,  194754.11814285],
       [-234434.0202717 ,  227538.05535095]]))