In [22]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
#from plotly.offline import init_notebook_mode, iplot
#import plotly.graph_objs as go
import os
import warnings

# 파일 불러와서 열이름 바꾸기
korean, long_term_frgn, short_term_frgn, resident, card_cnt, card_amt, waste_cnt
(이거 예시는 card_amt임)

In [312]:
##### 파일 불러오기 #####
df = pd.read_csv("C:\\Users\\asus\\BigContest\\files\\data_preprocessing\\1_food_waste_preprocessing.csv", encoding='cp949')

# 시계열 피처단위로 변경
df['base_date'] = pd.to_datetime(df['base_date'])

# base_date를 index로 설정
df.index = df['base_date']
df.columns = ['base_date', 'emd_cd', 'waste_cnt', 'waste_amt']  ##### 각자 데이터에 맞게 열이름 변경하기 #####
df

            base_date    emd_cd  waste_cnt  waste_amt
base_date
2019-11-30 2019-11-30  50110250        620    2279550
2019-12-31 2019-12-31  50110250       8178   31493650
2020-01-31 2020-01-31  50110250      13042   49632850
2020-02-29 2020-02-29  50110250      12264   46197050
2020-03-31 2020-03-31  50110250      14316   52561750
...               ...       ...        ...        ...
2021-02-28 2021-02-28  50130620       4563   15566250
2021-03-31 2021-03-31  50130620       4920   17300600
2021-04-30 2021-04-30  50130620       5256   17646850
2021-05-31 2021-05-31  50130620       6346   19494750
2021-06-30 2021-06-30  50130620       6328   18753350

[1634 rows x 4 columns]

In [313]:
# 필요 없는 열 제거
data = df.drop(['base_date', 'waste_amt'], 1)     ##### 각자 필요없는 열 제거 #####
data

              emd_cd  waste_cnt
base_date
2019-11-30  50110250        620
2019-12-31  50110250       8178
2020-01-31  50110250      13042
2020-02-29  50110250      12264
2020-03-31  50110250      14316
...              ...        ...
2021-02-28  50130620       4563
2021-03-31  50130620       4920
2021-04-30  50130620       5256
2021-05-31  50130620       6346
2021-06-30  50130620       6328

[1634 rows x 2 columns]

In [314]:
# 한 행정동의 행만 추출
sub_area = data['emd_cd'] == 50130520  ##### 각 행정동코드 입력 #####

# base_date, card_amt 만 갖는 df 생성
sub_df = data[sub_area]
sub_df = sub_df.drop('emd_cd', 1)
sub_df

            waste_cnt
base_date
2018-01-31       6692
2018-02-28       6008
2018-03-31       7938
2018-04-30       6785
2018-05-31       6979
2018-06-30       7339
2018-07-31       8115
2018-08-31       7117
2018-09-30       7593
2018-10-31       7665
2018-11-30       7367
2018-12-31       7479
2019-01-31       4886
2019-02-28       3450
2019-03-31       1988
2019-04-30       1970
2019-05-31       5802
2019-06-30       7263
2019-07-31       8598
2019-08-31       8613
2019-09-30       8079
2019-10-31       7776
2019-11-30       7162
2019-12-31       5959
2020-01-31       5893
2020-02-29       5570
2020-03-31       6123
2020-04-30       5846
2020-05-31       6134
2020-06-30       5293
2020-07-31       4078
2020-08-31       7844
2020-09-30       6722
2020-10-31       6135
2020-11-30       6005
2020-12-31       6890
2021-01-31       6087
2021-02-28       5692
2021-03-31       6349
2021-04-30       6401
2021-05-31       6612
2021-06-30       6864

In [315]:
# series 형으로 변환
sub_df.to_dict('series')

{'waste_cnt': base_date
 2018-01-31    6692
 2018-02-28    6008
 2018-03-31    7938
 2018-04-30    6785
 2018-05-31    6979
 2018-06-30    7339
 2018-07-31    8115
 2018-08-31    7117
 2018-09-30    7593
 2018-10-31    7665
 2018-11-30    7367
 2018-12-31    7479
 2019-01-31    4886
 2019-02-28    3450
 2019-03-31    1988
 2019-04-30    1970
 2019-05-31    5802
 2019-06-30    7263
 2019-07-31    8598
 2019-08-31    8613
 2019-09-30    8079
 2019-10-31    7776
 2019-11-30    7162
 2019-12-31    5959
 2020-01-31    5893
 2020-02-29    5570
 2020-03-31    6123
 2020-04-30    5846
 2020-05-31    6134
 2020-06-30    5293
 2020-07-31    4078
 2020-08-31    7844
 2020-09-30    6722
 2020-10-31    6135
 2020-11-30    6005
 2020-12-31    6890
 2021-01-31    6087
 2021-02-28    5692
 2021-03-31    6349
 2021-04-30    6401
 2021-05-31    6612
 2021-06-30    6864
 Name: waste_cnt, dtype: int64}

# ARIMA

In [316]:
# ARIMA에 적합한 float로 바꾸는 과정
sub_df_float = sub_df[:].astype(np.float)
#sub_df_float.tail()

In [317]:
# ADF 검정 - 정상성 확인하는 검정 (귀무 : 정상성 만족 x, 대립 : 정상성 만족)
from statsmodels.tsa.stattools import adfuller

result = adfuller(sub_df)
print('ADF Statistic : %f' % result[0])
print('p-value : %f' % result[1])
print('Critical Values :')
for key, value in result[4].items():
    print('\t%s: %3f' % (key, value))
    
##### 여기서 p-value 확인 -> 0.05보다 크면 아래로 내려가서 차분하기 / 작으면 차분 생략(아래 셀 생략) #####

ADF Statistic : -3.667731
p-value : 0.004591
Critical Values :
	1%: -3.615509
	5%: -2.941262
	10%: -2.609200

In [318]:
##### 이건 설치하는 거라 처음 돌릴 때 한 번만 주석 풀어서 설치하고 그 이후로는 필요없음! #####

#!pip install pmdarima

In [319]:
from pmdarima.arima import auto_arima

model_arima= auto_arima(sub_df,trace=True, error_action='ignore',suppress_warnings=True,stepwise=False,seasonal=True)

model_arima.fit(sub_df)

##### 여기서 아래쪽에 'Best model:  ARIMA(0,1,0)(0,0,0)[1] intercept' 이렇게 나오면 (0,1,0) 가져다 쓸거임 #####
##### ARIMA(0,1,0) 여기 숫자 세 개만 잘 보면 됨 !!!! #####

 ARIMA(0,0,0)(0,0,0)[1] intercept   : AIC=735.677, Time=0.01 sec
 ARIMA(0,0,1)(0,0,0)[1] intercept   : AIC=718.387, Time=0.06 sec
 ARIMA(0,0,2)(0,0,0)[1] intercept   : AIC=715.021, Time=0.04 sec
 ARIMA(0,0,3)(0,0,0)[1] intercept   : AIC=714.979, Time=0.07 sec
 ARIMA(0,0,4)(0,0,0)[1] intercept   : AIC=717.114, Time=0.04 sec
 ARIMA(0,0,5)(0,0,0)[1] intercept   : AIC=718.258, Time=0.12 sec
 ARIMA(1,0,0)(0,0,0)[1] intercept   : AIC=713.484, Time=0.01 sec
 ARIMA(1,0,1)(0,0,0)[1] intercept   : AIC=714.412, Time=0.02 sec
 ARIMA(1,0,2)(0,0,0)[1] intercept   : AIC=715.220, Time=0.03 sec
 ARIMA(1,0,3)(0,0,0)[1] intercept   : AIC=716.295, Time=0.03 sec
 ARIMA(1,0,4)(0,0,0)[1] intercept   : AIC=718.272, Time=0.05 sec
 ARIMA(2,0,0)(0,0,0)[1] intercept   : AIC=713.476, Time=0.02 sec
 ARIMA(2,0,1)(0,0,0)[1] intercept   : AIC=716.089, Time=0.07 sec
 ARIMA(2,0,2)(0,0,0)[1] intercept   : AIC=715.130, Time=0.06 sec
 ARIMA(2,0,3)(0,0,0)[1] intercept   : AIC=717.541, Time=0.06 sec
 ARIMA(3,0,0)(0,0,0)[1] intercept   : AIC=712.485, Time=0.06 sec
 ARIMA(3,0,1)(0,0,0)[1] intercept   : AIC=713.668, Time=0.07 sec
 ARIMA(3,0,2)(0,0,0)[1] intercept   : AIC=713.619, Time=0.22 sec
 ARIMA(4,0,0)(0,0,0)[1] intercept   : AIC=712.719, Time=0.05 sec
 ARIMA(4,0,1)(0,0,0)[1] intercept   : AIC=714.554, Time=0.07 sec
 ARIMA(5,0,0)(0,0,0)[1] intercept   : AIC=714.311, Time=0.07 sec

Best model:  ARIMA(3,0,0)(0,0,0)[1] intercept
Total fit time: 1.277 seconds

ARIMA(order=(3, 0, 0), scoring_args={}, seasonal_order=(0, 0, 0, 1),
      suppress_warnings=True)

In [320]:
# ARIMA 모델 
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm

# (AR=2, 차분=1, MA=2) 파라미터로 ARIMA 모델을 학습합니다.
model = ARIMA(sub_df.waste_cnt.values, order=(3,0,0))     ##### 여기 order=(0,1,0)에 위에서 나온 숫자 넣는거 #####
                                    ##### 그리고 sub_df.card_amt.values에서 가운데 card_amt 각자걸로 바꾸기 #####

#trend : constant를 가지고 있는지, c - constant / nc - no constant
#disp : 수렴 정보를 나타냄
model_fit = model.fit(trend='c', full_output=True, disp=True)
print(model_fit.summary())

C:\Users\asus\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   42
Model:                     ARMA(3, 0)   Log Likelihood                -351.232
Method:                       css-mle   S.D. of innovations           1026.087
Date:                Fri, 10 Sep 2021   AIC                            712.464
Time:                        15:38:50   BIC                            721.152
Sample:                             0   HQIC                           715.648

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       6408.5939    306.507     20.908      0.000    5807.851    7009.337
ar.L1.y        0.7333      0.147      4.982      0.000       0.445       1.022
ar.L2.y        0.0128      0.191      0.067      0.946      -0.361       0.387
ar.L3.y       -0.2639      0.150     -1.765      0.078      -0.557       0.029
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.0812           -0.7896j            1.3389           -0.1004
AR.2            1.0812           +0.7896j            1.3389            0.1004
AR.3           -2.1139           -0.0000j            2.1139           -0.5000
-----------------------------------------------------------------------------

# 예측하기

In [321]:
# 2단위 이후의 예측결과
fore = model_fit.forecast(steps=2)
print(fore)

##### 맨 앞에 나온 'array([10681271.81014634, 10741037.02029268])' 이게 차례대로 7, 8월 예측값임 #####
##### 7월 : 10681271.81014634, 8월 : 10741037.02029268 #####
##### 이 값 가져다 엑셀파일에 입력하기 #####

(array([6747.14789896, 6609.01244266]), array([1026.08690892, 1272.3892394 ]), array([[4736.05451247, 8758.24128544],
       [4115.17535912, 9102.8495262 ]]))